ul, li, button {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style-type: none;
}

.answers-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //padding: 0 25px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(1000px);
  animation: fade-in 3s forwards;
  animation-delay: 3s;

}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.answers-item {
  //width: 100%;
}

.answers-item:not(:last-child) {
  margin-bottom: 10px;
}

.answer-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: 50px;
  outline: none;
  padding: 10px;

  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  background: rgba(17, 17, 17, 0.1);
  border: none;
  border-radius: 30px;
  color: rgb(17, 17, 17);
  cursor: pointer;

  transition: background-color 0.4s ease 0s;
  pointer-events: initial;
}

.answer-btn:hover {
  color: #fff;
  background-color: #10b5c4;
}

@media screen and (max-width: 1024px) {
  .answer-btn {
    width: 280px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.45);
    font-size: 13px;
  }

  .content_last {
    width: 100%;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

}