<main class="main">
  <div class="swiper slider">
    <div class="swiper-wrapper slider__wrapper">
      <div class="swiper-slide slide">
        <div class="slide__content">
          <video class="slide__video" autoplay loop   id="background-video" playsinline>
            <source
              src="../video/firstSlide.mp4"
              type="video/mp4">
          </video>
          <div class="content">
            <h1 class='slide__title'>Ecological Challenges: Exploring Key Issues in Today's Environment</h1>
            <ul class="answers-list">
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Causes and impacts of deforestation</button>
              </li>
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Forest conservation and reforestation efforts</button>
              </li>
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Sustainable logging practices</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide">
        <div class="slide__content">
          <video class="slide__video" autoplay loop muted id="background-video1">
            <source
              src="../video/secondSlide.mp4"
              type="video/mp4">
          </video>
          <div class="content">
            <h1 class='slide__title'>Ecological Challenges: Exploring Key Issues in Today's Environment</h1>
            <ul class="answers-list">
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Causes and impacts of deforestation</button>
              </li>
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Forest conservation and reforestation efforts</button>
              </li>
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Sustainable logging practices</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide">
        <div class="slide__content">
          <video class="slide__video" autoplay loop muted id="background-video2">
            <source
              src="https://media.istockphoto.com/id/1298322548/uk/%D0%B2%D1%96%D0%B4%D0%B5%D0%BE/%D0%BA%D0%BE%D0%BD%D1%86%D0%B5%D0%BF%D1%86%D1%96%D1%8F-%D0%BE%D1%85%D0%BE%D1%80%D0%BE%D0%BD%D0%B8-%D0%BD%D0%B0%D0%B2%D0%BA%D0%BE%D0%BB%D0%B8%D1%88%D0%BD%D1%8C%D0%BE%D0%B3%D0%BE-%D1%81%D0%B5%D1%80%D0%B5%D0%B4%D0%BE%D0%B2%D0%B8%D1%89%D0%B0-%D0%B6%D1%96%D0%BD%D0%BA%D0%B0-%D0%B2%D0%BE%D0%BB%D0%BE%D0%BD%D1%82%D0%B5%D1%80-%D0%B2-%D0%B3%D1%83%D0%BC%D0%BE%D0%B2%D0%B8%D1%85-%D1%80%D1%83%D0%BA%D0%B0%D0%B2%D0%B8%D1%87%D0%BA%D0%B0%D1%85-%D0%B1%D0%B5%D1%80%D0%B5-%D0%B7-%D0%B7%D0%B5%D0%BC%D0%BB%D1%96.mp4?s=mp4-640x640-is&k=20&c=SSE07iz18fA0R2x2DamxediszhkDMAGo35Z9DClxb9k="
              type="video/mp4">
          </video>
          <div class="content">
            <h1 class='slide__title'>Ecological Challenges: Exploring Key Issues in Today's Environment</h1>
            <ul class="answers-list">
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Causes and impacts of deforestation</button>
              </li>
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Forest conservation and reforestation efforts</button>
              </li>
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Sustainable logging practices</button>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="swiper-slide slide">
        <div class="slide__content">
          <video class="slide__video" autoplay loop id="background-video-4" playsinline>
            <source
              src="https://media.istockphoto.com/id/1211663149/uk/%D0%B2%D1%96%D0%B4%D0%B5%D0%BE/%D0%B2%D1%80%D1%8F%D1%82%D1%83%D0%B2%D0%B0%D1%82%D0%B8-%D0%BF%D0%BB%D0%B0%D0%BD%D0%B5%D1%82%D1%83-%D0%B7%D1%83%D0%BF%D0%B8%D0%BD%D0%B8%D1%82%D0%B8-%D0%BF%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC%D1%83-%D0%B7%D0%B0%D0%B1%D1%80%D1%83%D0%B4%D0%BD%D0%B5%D0%BD%D0%BD%D1%8F-%D0%BD%D0%B0%D0%B2%D0%BA%D0%BE%D0%BB%D0%B8%D1%88%D0%BD%D1%8C%D0%BE%D0%B3%D0%BE-%D1%81%D0%B5%D1%80%D0%B5%D0%B4%D0%BE%D0%B2%D0%B8%D1%89%D0%B0-%D0%B3%D0%BB%D0%BE%D0%B1%D0%B0%D0%BB%D1%8C%D0%BD%D0%B5-%D0%BF%D0%BE%D1%82%D0%B5%D0%BF%D0%BB%D1%96%D0%BD%D0%BD%D1%8F.mp4?s=mp4-640x640-is&k=20&c=peDPYksNkumW45XiUOXY2DXgUX76HD3Y1rSyjrsKY0s="
              type="video/mp4">
          </video>
          <div class="content">
            <h1 class='slide__title'>Ecological Challenges: Exploring Key Issues in Today's Environment</h1>
            <ul class="answers-list">
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Causes and impacts of deforestation</button>
              </li>
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Forest conservation and reforestation efforts</button>
              </li>
              <li class="answers-item">
                <button class="answer-btn next-slide-button">Sustainable logging practices</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
